{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
    <div class="two-col-report">
    <aside class="aside">
        <h4>Innehållsförteckning</h4>
        <ul>
                <li><a href="#kmom01">kmom01</a></li>
                <li><a href="#kmom02">kmom02</a></li>
                <li><a href="#kmom03">kmom03</a></li>
                <li><a href="#kmom04">kmom04</a></li>
                <li><a href="#kmom05">kmom05</a></li>
                <li><a href="#kmom06">kmom06</a></li>
                <li><a href="#kmom10">kmom10</a></li>
        </ul>
    </aside>

    <main class="main">
        <h1>Redovisning</h1>

        <article class="article">
            <h2 id="kmom01">kmom01</h2>
            <p></p>
        </article>

        <article class="article">
            <h2 id="kmom02">kmom02</h2>
            <p></p>
        </article>

        <article class="article">
            <h2 id="kmom03">kmom03</h2>
            <p></p>
        </article>

        <article class="article">
            <h2 id="kmom04">kmom04</h2>
            <p></p>
        </article>

        <article class="article">
            <h2 id="kmom05">kmom05</h2>
            <p></p>
        </article>

        <article class="article">
            <h2 id="kmom06">kmom06</h2>
            <p></p>
        </article>

        <article class="article">
            <h2 id="kmom10">kmom10</h2>
            <p></p>
        </article>

        
    </main>
</div>
{% endblock %}